<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ankita Gangrade</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/didi.jpg" rel="icon">
  <link href="static/assets/img/didi.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <!-- =======================================================
  * Template Name: Laura - v2.1.0
  * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
  .rotate90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
</style>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#about">About</a></li>
<!--        <li><a href="#resume">Resume</a></li>-->
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Ankita Gangrade</h1>
      <h2>I am a dancer,painter,craft specialist in Tokyo</h2>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>About Me</span>
          <h2>About Me</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content pl-lg-4 d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Name:</strong> Ankita Gangrade</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Website:</strong><a href="http://ankitagangrade.pythonanywhere.com"> Click Here</a></li>
                    <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +81 80-4333-0786</li>
                    <li><i class="icofont-rounded-right"></i> <strong>City:</strong> City :Tokyo,JAPAN</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 31</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor of Pharmacy</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> ankitagangrade294@gmail.com</li>
                  </ul>
                </div>
              </div>
              <div class="row mt-n4">
                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                    <span data-toggle="counter-up">50</span>
                    <p><strong>Happy Clients</strong></p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder" style="color: #8a1ac2;"></i>
                    <span data-toggle="counter-up">100</span>
                    <p><strong>Projects</strong></p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time" style="color: #2cbdee;"></i>
                    <span data-toggle="counter-up">20</span>
                    <p><strong>Years of experience</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-award" style="color: #ffb459;"></i>
                    <span data-toggle="counter-up">30</span>
                    <p><strong>Awards</strong></p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->

            <div class="skills-content pl-lg-4">
              <div class="progress">
                <span class="skill">Painting <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Mehndi <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">Dancing <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">Art & Craft <i class="val">95%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Me Section -->

    <!-- ======= My Resume Section ======= -->
<!--    <section id="resume" class="resume">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--          <span>My Resume</span>-->
<!--          <h2>My Resume</h2>-->
<!--          <p></p>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--          <div class="col-lg-6">-->
<!--            <h3 class="resume-title">Summary</h3>-->
<!--            <div class="resume-item pb-0">-->
<!--              <h4>Ankita Gangrade</h4>-->
<!--              <p><em>7+ years of work experience in administration, Product, Brand Marketing, Web sales Quality control and Public relation in multiple Industries</em></p>-->
<!--              <p>-->
<!--              <ul>-->
<!--                <li>Tokyo,Japan</li>-->
<!--                <li>+81 80-4333-0786</li>-->
<!--                <li>ankitagangrade294@gmail.com</li>-->
<!--              </ul>-->
<!--              </p>-->
<!--            </div>-->

<!--            <h3 class="resume-title">Education</h3>-->
<!--            <div class="resume-item">-->
<!--              <h4>Bachelor of Pharmacy</h4>-->
<!--              <h5>2011 Passout</h5>-->
<!--              <p><em>Smriti College of Pharmaceutical Education(RGPV University, Bhopal), Indore,India</em></p>-->
<!--              <p>Project Undertaken:Physicochemical properties of a drug (rutin-phospholipid complex) and its antioxidant properties</p>-->
<!--            </div>-->
<!--            <div class="resume-item">-->
<!--              <h4>12th</h4>-->
<!--              <h5>2007 passout</h5>-->
<!--              <p><em>St.pius senior secondary school Khandwa,India</em></p>-->
<!--              <p>Stream : PCB<br> Percentage: 85%</p>-->
<!--            </div>-->
<!--             <div class="resume-item">-->
<!--              <h4>10th</h4>-->
<!--              <h5>2005 passout</h5>-->
<!--              <p><em>St.pius senior secondary school Khandwa,India</em></p>-->
<!--              <p> Percentage: 95%</p>-->
<!--            </div>-->

<!--                         <div class="resume-item">-->
<!--              <h4>Training and industrial visit</h4>-->
<!--&lt;!&ndash;              <h5>2005 passout</h5>&ndash;&gt;-->
<!--                           <ul>-->
<!--                             <li>Ranbaxy Dewas, India.</li>-->
<!--                             <li>Sanofi Aventis, Goa India.</li>-->
<!--                             <li>Ranbaxy, Goa, India.</li>-->
<!--                           </ul>-->
<!--            </div>-->

<!--                                     <div class="resume-item">-->
<!--              <h4>Extra curriculum activities/Interest</h4>-->
<!--&lt;!&ndash;              <h5>2005 passout</h5>&ndash;&gt;-->
<!--                           <ul>-->
<!--                             <li>Interest in learning and teaching Handicrafts and Painting <a href="https://www.facebook.com/ankitascreativecorner" target="_blank">Check here</a></li>-->
<!--                             <li>Interest in dance <a href="https://www.youtube.com/channel/UC_NcKYt9lSeJl0CthLkiBrw" target="_blank">Check here</a></li>-->
<!--                             <li>Presented my research project physicochemical properties Indian Pharmaceutical Association Annual convention in 2011</li>-->
<!--                           <li>Basic Japanese conversational skills.</li>-->
<!--                           </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-6">-->
<!--            <h3 class="resume-title">Professional Experience</h3>-->
<!--            <div class="resume-item">-->
<!--              <h4>Web sales and marketing</h4>-->
<!--              <h4></h4>-->
<!--              <h5>2014 - Present</h5>-->
<!--              <p><em>Ambika Trading Company, Tokyo,Japan</em></p>-->
<!--              <p>-->
<!--              <ul>-->

<!--                <li>Handling web sales and marketing activities,Data Analysis order processing, campaign planning. </li>-->
<!--              </ul>-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="resume-item">-->
<!--              <h4>Quality control Analyst in Packaging Dept</h4>-->
<!--              <h5>Nov 2011 - March 2013</h5>-->
<!--              <p><em>Plethico Pharmaceuticals ,Indore, India</em></p>-->
<!--              <p>-->
<!--              <ul>-->
<!--                <li>Quality control and testing of medicine Packaging material and related documentations.</li>-->
<!--              </ul>-->
<!--              </p>-->
<!--            </div>-->

<!--                        <div class="resume-item">-->
<!--              <h4>Public relation officer</h4>-->
<!--              <h5>Jun 2011 - Oct 2011</h5>-->
<!--              <p><em>CHL Apollo Hospitals,Indore, India</em></p>-->
<!--              <p>-->
<!--              <ul>-->
<!--                <li>General management, administration activities, client interaction and feedback collection.</li>-->
<!--              </ul>-->
<!--              </p>-->
<!--            </div>-->

<!--                                    <div class="resume-item">-->
<!--              <h4>Key Skills/Achievements</h4>-->
<!--&lt;!&ndash;              <h5></h5>&ndash;&gt;-->
<!--&lt;!&ndash;              <p><em>CHL Apollo Hospitals,Indore, India</em></p>&ndash;&gt;-->
<!--              <p>-->
<!--              <ul>-->
<!--                <li>Hands on experience in General, office management customer and public relations.</li>-->
<!--                                      <li>Worked in Product marketing, and campaign planning and promotional material designing.</li>-->
<!--                                      <li>Hands on experience in Web administration and Data analytics area.</li>-->
<!--                                      <li>Exceeded sales target and double digit web sales growth.</li>-->
<!--                                      <li>Understanding of compliances and processes related to bossiness and its importance.</li>-->
<!--              </ul>-->
<!--              </p>-->
<!--            </div>-->

<!--                                    <div class="resume-item">-->
<!--              <h4>Computer Knowledge</h4>-->
<!--&lt;!&ndash;              <h5>Jun 2011 - Oct 2011</h5>&ndash;&gt;-->
<!--&lt;!&ndash;              <p><em>CHL Apollo Hospitals,Indore, India</em></p>&ndash;&gt;-->
<!--              <p>-->
<!--              <ul>-->
<!--                <li>Office tools (Outlook, Excel, PowerPoint, Word, Adobe photoshop)</li>-->
<!--                                      <li>Internet Tools. (Social media for Digital Marketing)</li>-->
<!--                                      <li>TALLY</li>-->
<!--                                      <li>Net suite, Jira</li>-->
<!--              </ul>-->
<!--              </p>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End My Resume Section &ndash;&gt;-->

    <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>My Services</span>
          <h2>My Services</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i><span class="iconify" data-icon="openmoji:woman-artist-light-skin-tone" data-inline="false"></span></i></div>
              <h4 class="title"><a href="https://www.facebook.com/ankitascreativecorner">Painting</a></h4>
              <p class="description">All you need to paint is a few tools, a little instruction, and a vision in your mind. " I have been doing painting since 10 years. I am a teacher to guide my students who has passion of creating something on their own.<a href="https://www.facebook.com/ankitascreativecorner">Check out my Painting Page</a></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i><span class="iconify" data-icon="vscode-icons:file-type-snapcraft" data-inline="false"></span></i></div>
              <h4 class="title"><a href="https://www.facebook.com/ankitascreativecorner">Art & Craft</a></h4>
              <p class="description">Creativity is something which comes from within. It's something which makes me happy ,stress free and energy to create more<br><a href="https://www.facebook.com/ankitascreativecorner">Check Out my Art and Craft Page</a></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i><span class="iconify" data-icon="noto-v1:woman-artist-medium-light-skin-tone" data-inline="false"></span></i></div>
              <h4 class="title"><a href="">Mehndi</a></h4>
              <p class="description">I am a trained mehndi designer in marwari, Arabic, Bombay style, rajasthani designs. I can take classes and can take orders also.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i><span class="iconify" data-icon="noto-v1:woman-dancing" data-inline="false"></span></i></div>
              <h4 class="title"><a href="https://youtu.be/Iz885K5oWZo">Dancing</a></h4>
              <p class="description">I love dancing,I won many awards in dancing in my school time.You can check my youtube dance videos<br><a href="https://youtu.be/Iz885K5oWZo">Check out my Youtube Dance Videos</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End My Services Section -->

    <!-- ======= Testimonials Section ======= -->
<!--    <section id="testimonials" class="testimonials">-->
<!--      <div class="container">-->

<!--        <div class="owl-carousel testimonials-carousel">-->

<!--          <div class="testimonial-item">-->
<!--            <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Saul Goodman</h3>-->
<!--            <h4>Ceo &amp; Founder</h4>-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Sara Wilsson</h3>-->
<!--            <h4>Designer</h4>-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Jena Karlis</h3>-->
<!--            <h4>Store Owner</h4>-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Matt Brandon</h3>-->
<!--            <h4>Freelancer</h4>-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">-->
<!--            <h3>John Larson</h3>-->
<!--            <h4>Entrepreneur</h4>-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Testimonials Section &ndash;&gt;-->

    <!-- ======= My Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>My Portfolio</span>
          <h2>My Portfolio</h2>
          <p>Have a look at my projects</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
<!--          <li data-filter="*" class="filter-active">All</li>-->
<!--          <li data-filter=".filter-app">Painting</li>-->
<!--          <li data-filter=".filter-card">Art & Craft</li>-->
<!--          <li data-filter=".filter-web">Mehndi</li>-->
        </ul>

        <div class="row portfolio-container">
{% for i in x %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{{x[i]['link']}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>{{x[i]['title']}}</h4>
              <p>By : Ankita Gangrade</p>
              <a href="{{x[i]['link']}}" data-gall="portfolioGallery" class="venobox preview-link" title="{{x[i]['title']}}"><i class="bx bx-plus"></i></a>
<!--              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>
{% endfor %}
<!--          <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art4.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Painting</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art4.png" data-gall="portfolioGallery" class="venobox preview-link" title="Painting"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art2.jpg" class="img-fluid"  alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Diwali Decoration</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Diwali Decoration"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art5.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Diwali Decoration</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art5.png" data-gall="portfolioGallery" class="venobox preview-link" title="Diwali Decoration"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art6.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Painting</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art6.png" data-gall="portfolioGallery" class="venobox preview-link" title="Painting"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art3.jpg" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Diwali Lantern</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Diwali Lantern"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art7.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Ganesh Ji Painting</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art7.png" data-gall="portfolioGallery" class="venobox preview-link" title="Ganesh Ji Painting"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art8.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Hand-Made Ganesh ji</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art8.png" data-gall="portfolioGallery" class="venobox preview-link" title="Hand-Made Ganesh Ji"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art9.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Flower Pot</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art9.png" data-gall="portfolioGallery" class="venobox preview-link" title="Flower Pot"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->


<!--                    <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art10.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Painting</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art10.png" data-gall="portfolioGallery" class="venobox preview-link" title="Painting"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->


<!--                              <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art11.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Flower Pot</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art11.png" data-gall="portfolioGallery" class="venobox preview-link" title="Flower Pot"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->


<!--                                        <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art12.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Home Decoration</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art12.png" data-gall="portfolioGallery" class="venobox preview-link" title="Home Decoration"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--                                        <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art13.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Home Decoration</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art13.png" data-gall="portfolioGallery" class="venobox preview-link" title="Home Decoration"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->


<!--                                                  <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art14.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Hand-Made Kangan</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art14.png" data-gall="portfolioGallery" class="venobox preview-link" title="Hand-Made Kangan"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--                                                  <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art15.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Hand-Made Jhumke</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art15.png" data-gall="portfolioGallery" class="venobox preview-link" title="Hand-Made Jhumke"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--                                                  <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art16.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Ganesh Ji by Wool</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art16.png" data-gall="portfolioGallery" class="venobox preview-link" title="Ganesh Ji by wool"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--                                                  <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art17.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Hand-Made Locket and Earing</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art18.png" data-gall="portfolioGallery" class="venobox preview-link" title="Hand-Made Locket and Earing"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--                                                            <div class="col-lg-4 col-md-6 portfolio-item">-->
<!--            <div class="portfolio-img"><img src="static/assets/img/portfolio/art18.png" class="img-fluid" alt=""></div>-->
<!--            <div class="portfolio-info">-->
<!--              <h4>Hand-Made Bracelets</h4>-->
<!--              <p>By : Ankita Gangrade</p>-->
<!--              <a href="static/assets/img/portfolio/art18.png" data-gall="portfolioGallery" class="venobox preview-link" title="Hand-Made Bracelet"><i class="bx bx-plus"></i></a>-->
<!--&lt;!&ndash;              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

        </div>

      </div>
    </section><!-- End My Portfolio Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- End Pricing Section -->

    <!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact Me</span>
          <h2>Contact Me</h2>
          <p>If you want to contact me you can fill up the below form</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Social Profiles</h3>
                  <div class="social-links">
                    <a href="https://api.whatsapp.com/send?phone=818043330786" class="twitter"><i class="icofont-whatsapp"></i></a>
                    <a href="https://www.facebook.com/ankita.gangrade2" class="facebook"><i class="icofont-facebook"></i></a>
                    <a href="https://www.instagram.com/ankita_sunil_gangrade/" class="instagram"><i class="icofont-instagram"></i></a>
<!--                    <a href="#" class="google-plus"><i class="icofont-skype"></i></a>-->
<!--                    <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>-->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Me</h3>
                  <p>ankitagangrade294@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <a href="https://api.whatsapp.com/send?phone=818043330786"><i class="bx bx-"><span class="iconify" data-icon="logos:whatsapp" data-inline="false"></span></i></a>
                  <h3>Whatsapp me</h3>
                  <p>+81 80-4333-0786</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="/" method="post">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="6" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Me Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Developed By</h3>
      <h3>Abhinav Gangrade</h3>
      <p>Python Developer,Machine Learning & Computer Vision enthusiast.</p>
      <div class="social-links">
        <a href="https://github.com/abhinav0606" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/abhinav.gangrade.90/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/abhi9_gangrade/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/abhinav-gangrade-952393168/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://api.whatsapp.com/send?phone=918878748441" target="_blank" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>