<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update-Ankita Gangrade</title>
</head>
<body style="text-align:center">
<h1>Add a new Post</h1>
<form method="post" action="/update">
    <input id="title" name="title" placeholder="Enter the title of the post"><br>
    <input id="link" name="link" placeholder="Link of the post"><br>
<select name="type" id="type">
  <option value="Painting">Painting</option>
  <option value="Art_Craft">Art and Craft</option>
  <option value="Wall_Decor">Wall Decor</option>
  <option value="Mehndi">Mehndi</option>
</select>
    <button type="submit">Submit</button>
</form>
</body>
</html>