<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QAT-ChangePassword</title>
</head>
<body style="text-align:center">
<h1>{{message}}</h1>
<form method="post">{% csrf_token %}
    <input name="username" id="username" placeholder="Enter the Username"><br>
    <input name="password" id="password" placeholder="Enter the new Password"><br>
    <input name="password_cnf" id="password_cnf" placeholder="Confirm password"><br>
    <button type="submit">Change Password</button>
</form>
</body>
</html>